@model Citlali.Models.AuthConfirmDto

@section head {
  <link rel="stylesheet" href="~/css/Confirm.css" asp-append-version="true" />
  <script src="~/js/Confirm.js" defer></script>
  <title>Verify OTP</title>
}

@if (TempData["Error"] != null)
{
  <script>
    setTimeout(() => {
      window.location.reload();
    }, 1000);
  </script>
}

<div class="form-container">
  <div class="form-content">
    <span class="logo">
      @(await Html.RenderComponentAsync<FluentIcon<Icons.Filled.Size48.ShieldTask>>(RenderMode.ServerPrerendered, new { Color = Color.Fill }))
    </span>
    <h2>Verify OTP</h2>
    <h3>Your OTP was sent to @Model.Email</h3>
    <form asp-action="Confirm" method="post" enctype="multipart/form-data">
      <div class="form-group" style="display: none;">
        <label for="Email">Email</label>
        <input asp-for="Email" id="Email" type="email" />
        <span asp-validation-for="Email"></span>
      </div>

            <div class="input-field">
                <label for="Otp"></label>
                <input id="Otp1" type="number"  />
                <input id="Otp2" type="number" disabled />
                <input id="Otp3" type="number" disabled />
                <input id="Otp4" type="number" disabled />
                <input id="Otp5" type="number" disabled />
                <input id="Otp6" type="number" disabled />
            </div>

      <input asp-for="Otp" id="Otp" type="number" style="display: none;" />
      <span asp-validation-for="Otp"></span>

      @* query string doesnt work *@
      <div class="form-group">
        <input asp-for="Next" id="Next" type="text" hidden />
        <span asp-validation-for="Next"></span>
      </div>

      <button type="submit" class="">Verify</button>
    </form>
  </div>
</div>