@model Citlali.Models.AuthForgotPasswordDto

@section head {
  <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
}

@{
  Layout= "_LayoutBase";
  ViewData["Title"] = "Forgot Password";

  string SideImageUrl =
  "http://citlali-supabase.bigblahaj.com/storage/v1/object/public/CITLALI_USER_PROFILE_PICTURE/public/citlali-reset-password.webp";
}

<div class="form-container">
  <div class="form-content">
    <div class="form-img">
      <img src="@SideImageUrl" alt="Forgot Password Illustration">
    </div>
    <div class="form-data">
      <h2>🩷 Citlali 🩷</h2>
      <h3>Forgot your password?</h3>
      <div class="form-input">
        <form asp-action="forgot-password" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="Email">
              <div class="icon">
                @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.Mail>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral}))
              </div>
            </label>
            <input asp-for="Email" id="Email" placeholder="Email" />
            <span asp-validation-for="Email"></span>
          </div>

          <button type="submit" class="btn-submit">Verify your Email</button>
        </form>
      </div>

      <div class="sign-up">
        Remembered your password? <a href="/auth/signin">Sign in</a>
      </div>
    </div>
  </div>
</div>