@model Citlali.Models.AuthRegisterDto;

@section head {
  <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Sign Up";

    string RegisterImageUrl = "http://citlali-supabase.bigblahaj.com/storage/v1/object/public/CITLALI_USER_PROFILE_PICTURE/public/citlali-register-email/password.jpg";
}


<div class="form-container">
    <div class="form-content">
        <div class="form-img">
            <img src="@RegisterImageUrl" alt="Sign In Illustration">
        </div>
        <div class="form-data">
            <h2>🩷 Citlali 🩷</h2>
            <div class="form-input">
                <form asp-action="SignUp" method="post" enctype="multipart/form-data" onsubmit="return validatePassword()">
                    <div class="form-group">
                        <label for="Email">
                            <div class="icon">
                                @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.Mail>>(RenderMode.ServerPrerendered))
                            </div>
                        </label>
                        <input asp-for="Email" id="Email" placeholder="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>

                    <div class="form-group">
                        <label for="Password">
                            <div class="icon">
                                @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.LockClosed>>(RenderMode.ServerPrerendered))
                            </div>
                        </label>
                        <input asp-for="Password" id="Password" placeholder="Password" type="password" />
                        <span asp-validation-for="Password"></span>
                    </div>

                    <div class="form-group"#>
                        <label for="Confirm-Password">
                            <div class="icon">
                                @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.LockClosed>>(RenderMode.ServerPrerendered))
                            </div>
                        </label>
                        <input asp-for="ConfirmPassword" id="Confirm-Password" placeholder="Confirm Password" type="password" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>

                    <button type="submit" class="btn-submit">Sign up</button>
                </form>
            </div>

            <div class="sign-up">
                Already have an account? <a href="/auth/signin">Sign in</a>
            </div>

        </div>
    </div>
</div>

<script>
function validatePassword() {
        var password = document.getElementById("Password").value;
        var confirmPassword = document.getElementById("Confirm-Password").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>