@model Citlali.Models.AuthLoginDto

@section head {
  <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
}

@{
  Layout= "_LayoutBase";
  ViewData["Title"] = "Sign In";

  string LoginImageUrl =
  "http://citlali-supabase.bigblahaj.com/storage/v1/object/public/CITLALI_USER_PROFILE_PICTURE/public/citlali-login.jpg";
}

<div class="form-container">
  <div class="form-content">
    <div class="form-img">
      <img src="@LoginImageUrl" alt="Sign In Illustration">
    </div>
    <div class="form-data">
      <h2>🩷 Citlali 🩷</h2>
      <div class="form-input">
        <form asp-action="SignIn" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="Email">
              <div class="icon">
                @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.Mail>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral}))
              </div>
            </label>
            <input asp-for="Email" id="Email" placeholder="Email" />
            <span asp-validation-for="Email"></span>
          </div>

          <div class="form-group">
            <label for="Password">
              <div class="icon">
                @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.LockClosed>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral}))
              </div>
            </label>
            <input asp-for="Password" id="Password" placeholder="Password" type="password" />
            <span asp-validation-for="Password"></span>
          </div>

          <div class="options">
            <a href="/auth/forgot-password">Forgot password?</a>
          </div>

          <button type="submit" class="btn-submit">Sign in</button>
        </form>
      </div>

      <div class="sign-up">
        Don't have an account? <a href="/auth/signup">Sign up</a>
      </div>
    </div>
  </div>
</div>