@{
    ViewData["Title"] = "Admin Console";
}

<div class="center-wrapper">
    <div class="content">

        <header class="admin-header">
            <h1>Admin Console 👑</h1>
            <p>This is admin console. Add some text here.</p>
        </header>

        <div class="dashboard-grid">
            <a href="/admin/categories" class="dashboard-card">
                <div class="card-icon">
                    @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.Tag>>(RenderMode.ServerPrerendered, new { Color = Color.Fill }))
                </div>
                <div class="card-content">
                    <h2>Category Tags</h2>
                    <p>Manage event categort tags</p>
                </div>
            </a>

            <a href="/admin/locations" class="dashboard-card">
                <div class="card-icon">
                    @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.Location>>(RenderMode.ServerPrerendered, new { Color = Color.Fill }))
                </div>
                <div class="card-content">
                    <h2>Locations</h2>
                    <p>Manage event locations</p>
                </div>
            </a>
        </div>
    </div>
</div>