.error-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ff4d4d;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  z-index: 99999;
  width: max-content; 
  min-width: 200px;
  height: auto; 
  white-space: nowrap; 
}

.error-popup button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}


* {
  font-family: "IBM Plex Sans Thai Looped", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  --white-color: #FFFFFF;
  --text-gray-color: #A1A1A1;
  --margin-container: 2% 3% 2% 3%;
  --auth-background-color : #F5C2E7;
  --pink-color: #FFC0CB;
  --color-primary: var(--pink-color);
  --color-muted: #6C7086;

  --max-text-width: 65ch;
  --max-screen-width: 960px;
}

body {
  background-color: red;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  border: 0 solid;
}