* {
  font-family: "IBM Plex Sans Thai Looped", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  --white-color: #FFFFFF;
  --text-gray-color: #A1A1A1;
  --margin-container: 2% 3% 2% 3%;
  --auth-background-color : #F5C2E7;
  --pink-color: #FFC0CB;
  --color-primary: var(--pink-color);

  --max-text-width: 65ch;
  --max-screen-width: 960px;
}

body {
  background-color: red;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  border: 0 solid;
}