* {
  font-family: "IBM Plex Sans Thai Looped", serif;
  font-weight: 400;
  font-style: normal;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  border: 0 solid;
}

*{
  --white-color: #FFFFFF;
  --text-gray-color: #A1A1A1;
  --margin-container: 2% 3% 2% 3%;
  --auth-background-color : #F5C2E7;
}