services:
  app:
    image: ${DOCKER_IMAGE}
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:8000"
      - "5443:8443"
    environment:
      - ASPNETCORE_HTTP_PORTS=8000
      - ASPNETCORE_URLS=http://+:8000
      - ASPNETCORE_HTTPS_PORTS=8443
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password="${KESTREL_PASSWORD}"
    volumes:
      - ${HOME}/.microsoft/usersecrets/:/home/app/.microsoft/usersecret
      - ${HOME}/.aspnet/https/:/https/
