@section head {
  <link rel="stylesheet" href="~/css/Form.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/Search.css" asp-append-version="true" />
}

@section Scripts {
  <script src="~/js/Search.js" asp-append-version="true"></script>
}

<div class="center-container">
  <div class="content">
    <search class="section">
      <h1>Search!</h1>
      <form id="search-form">
        <div class="form-group">
          <label for="query">Query</label>
          <div class="form-group query-input">
            <input id="query" name="query" placeholder="Search" />
            <button class="form-submit search-button" type="submit">
              @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size32.Search>>(RenderMode.ServerPrerendered,
                            new
                            { Color = Color.Fill }))
            </button>
          </div>
        </div>
      </form>
    </search>
    <div class="section">
      <h2>Results</h2>
      <div id="results-null">
        <h3>No results found.</h3>
      </div>
      <div id="results-loading">
        <div class="rotating">
          @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size48.ArrowSyncCircle>>(RenderMode.ServerPrerendered, new
          { Color = Color.Neutral }))
        </div>
      </div>
      <ul id="results">
      </ul>
    </div>
  </div>
</div>
