.center-container {
  width: 100%;
}

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
  padding: 0 1rem;
  max-width: var(--max-screen-width);
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

.type-select {
  display: flex;
  column-gap: 1rem;
}

.query-input {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.search-button {
  padding: 0.5rem;
  background-color: black;
  border-radius: 0.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

#results {
  display: none;
  flex-direction: column;
  column-gap: 0.5rem;
}

#results-null {
  display: flex;
}

#results-loading {
  display: none;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;

  width: fit-content;
}