@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <h1>🩷 Citlali 🩷</h1>
    <h1>คุณยายจงเจริญ</h1>
    @(await Html.RenderComponentAsync<FluentIcon<Icons.Filled.Size48.ShieldTask>>(RenderMode.Server, new { Color = Color.FillInverse }))
</div>