body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
}

.logo{
    background-color: #F5C2E7;
    border-radius: 50vh;
    width: 14%;
    padding: 20px;
}

/* Form container */
.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90vw;
    height: 90vh;
    background: rgb(252, 252, 252);
    border-radius: 10px;

}

.form-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5%;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.20);
    padding: 4% 10%;
}

:where(.form-content, form, .input-field){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 40px;
    font-weight: bold;
    margin: 5% 0 0 0;
}

h3{
    font-size: 16px;
    color: var(--text-gray-color);
    font-weight: bold;
    margin: 5% 0 5% 0;
}

form .input-field{
    flex-direction: row;
    column-gap: 10px;
}

form input{
    height: 50px;
    width: 48px;
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-size: 1.125rem;
    box-shadow: 0px 0px 2px 1.2px rgba(0, 0, 0, 0.10);
    border: 1px solid var(--text-gray-color);
}

form input::-webkit-inner-spin-button,
form input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

button{
    margin-top: 5%;
    width: 100%;
    background-color: #F5C2E7;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 9px 0;
    transition: 0.2s;
    pointer-events: none;
}

button.active{
    pointer-events: auto;
    background-color: #fd9ae3;
}

button:hover{
    background-color: #fd9ae3;
    cursor: pointer;
}


.logo:hover{
    background-color: #fd9ae3;
    transition: .2s;
}
