body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;

}

/* Form container */
.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90vw;
    height: 90vh;
    background: white;
}

.form-content {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    max-width: var(--max-screen-width);
    width: 100%;
    height: 100%;
}


.form-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 0 0 2rem;
    overflow: hidden;
    background-color: #f0f0f0;
}

.form-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.form-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.form-data .form-input {
    width: 70%;
}

.form-data .form-input form .form-group input {
    width: 100%;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333333;
}

.form-group {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 5%;
}

.form-group input {
    padding: 10px 10px 10px 40px;
    border: none;
    border-bottom: 2px solid #cccccc;
    font-size: 16px;
    background-color: transparent;
    color: #333333;
    transition: border-color 0.3s;
}

.form-group input::placeholder {
    color: #999999;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #a6e3a1;
    outline: none;
}

.form-group .icon svg {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    fill: black !important;
}

.options {
    width: 100%;
    text-align: right;
    margin-top: -5%;
    margin-bottom: 5%;
}

.options a {
    color: #6c63ff;
    font-size: 14px;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

/* Submit button */
.btn-submit {
    width: 100%;
    padding: 15px;
    background-color: #7fdb7f;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #72c572;
}

.sign-up {
    margin-top: 5%;
    font-size: 14px;
    color: #333333;
}

.sign-up a {
    color: #6c63ff;
    text-decoration: none;
    font-weight: bold;
}

.sign-up a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1150px) {
    .form-img {
        display: none;
    }

    .form-container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    .form-content {
        height: 90%;
    }
}

@media (max-width: 768px) {
    .form-container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    .form-img {
        display: none;
    }

    .form-content {
        background-color: var(--white-color);
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}
