
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 2% 0 2% 0;
}

header {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    width: 100%;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 2rem;
    width: 100%;
}

main .notification-container{
    width: 40%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 0.55rem;
    height: 100%;
}

.notification-card{
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 8px;
    position: relative;
}

.notification-card #title {
    font-size: 1rem;
    font-weight: bold;
    opacity: 1;
}

.notification-time {
    position: absolute;
    bottom: 10%;
    right: 3%;
}

.notification-card:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.notification-card-source-user{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.notification-card-source-user img {
    height: auto;
    width: 3rem;
    border-radius: 50%;
}

#title{
    justify-self: flex-start;
    font-weight: bold;
    opacity: 0.8;
}

#display-name{
    opacity: 0.5;
}


.default-notification{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    width: 80%;
    height: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.default-notification div {
    font-size: 1.2rem;
    color: grey;
}

.notification-detail{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    width: 80%;
    height: 100%;
}

.notification-detail .header{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin: 0.5rem 0 0.5rem 2rem;
}

.notification-detail .header .source-img{
    height: auto;
    width: 3rem;
}

.source-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.notification-detail .header .source-info{
    display: flex;
    flex-direction: column;
    /* gap: 3px; */
    justify-content: center;
    align-items: center;
}

.notification-detail .header .source-info .source-name{
    font-size: 1rem;
    margin-left: 1rem;
    align-self: center;
} 

.notification-detail .header .source-info .create-at{
    font-size: 0.7rem;
    margin-left: 1rem;
    align-self: center;
    opacity: 0.6;
}

.notification-detail .content{
    margin: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.notification-detail .content .content-title{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 1rem 0rem 1rem;
}

.notification-detail .content .content-body{
    font-size: 1rem;
    opacity: 0.8;
    align-self: center;
}

.read{
    background-color: #d4e5f0;
    font-size: 0.8rem;
    opacity: 0.6;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.read:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);

}

.hidden{
    display: none;
}

.title-over-card {
    font-size: 1.5rem;
    font-weight: bold;
}

/* ---------------------------- preview-card ------------------------ */
.preview-card {
    background-image: linear-gradient(0deg, rgba(220, 214, 247, 1) 19%, rgba(255, 199, 199, 0) 100%);
    box-shadow: 0 0 10px 0 rgba(220, 214, 247, 1);
    padding: 1.5rem; 
    border-radius: 8px; 
    margin: 0.5rem 0;
    width: 100%;
    height: auto;
}

.app-name {
    font-size: 1rem;
}

.preview-card-topic h1{
    font-size: 1.5rem; 
    font-weight: bold; 
    margin: 0.5rem 0;
}

.preview-card-topic p {
    font-size: 1rem; 
    /* white-space: nowrap;  */
    width: 100%; 
    height: auto;
    /* max-width: 400px;  */
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    /* text-overflow: ellipsis;  */
    
}

.preview-link {
    font-size: 1.1rem; 
    margin-top: 0.5rem;
    color: blue;
    text-decoration: underline;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; 
}
/* ---------------------------- preview-card ------------------------ */
@media screen and (min-width: 768px) {
    .container {
        width: 80vw;
    }

    main .notification-container {
        width: 80%;
        gap: 0.3rem;
        max-width: 380px;
    }

    .default-notification,
    .notification-detail {
        width: 100%;
    }
}


@media screen and (max-width: 768px){
    .container {
        width: 100%;
        margin: 0 6% 0 6%;
    }

    header {
        margin-bottom: 1rem;
    }

    main {
        width: 100%;
    }

    main .notification-container {
        width: 100%;
        gap: 0.4rem;
        max-width: 380px;
    }

    .default-notification,
    .notification-detail {
        display: none;
    }

    .container-detail-mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    }

    .container-detail-mobile .title-over-card {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 0.5rem;
        align-self: flex-start;
        margin-left: 2.5rem;
        
    }

    .container-detail-mobile .txt-over-card {
        font-size: 1rem;
        /* font-weight: bold; */
        margin-top: 0.3rem;
        align-self: flex-start;
        margin-left: 2.5rem;
    }

    .link-over-card {
        display: flex;
        justify-content: center;
    }

    .preview-card-mobile {
        background-image: linear-gradient(0deg, rgba(220, 214, 247, 1) 19%, rgba(255, 199, 199, 0) 100%);
        padding: 1.5rem; 
        border-radius: 8px; 
        margin: 0.5rem 0 1rem 0;
        width: 80%;
        height: auto;
        box-shadow: 0 0 5px 0 rgba(220, 214, 247, 1);
        align-self: center;
        justify-self: center;
    }

    .preview-card-topic-mobile h1 {
        font-size: 1.5rem; 
        font-weight: bold; 
        margin: 0.5rem 0;
    }

    .preview-card-topic-mobile p {
        font-size: 1rem; 
        /* white-space: nowrap;  */
        width: 100%; 
        height: auto;
        /* max-width: 400px;  */
        margin-bottom: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; 
    }

    .hidden {
        display: none;
    }
}

/* ----------------------------no notification------------------------ */

.no-noti-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    margin-top: 7%;
    width: 40vw;
    height: 50vh;
}

.no-noti-icon {
    background-color: #d2d1d1;
    border-radius: 50%;
    padding: 2rem;
    width: 200px;
    height: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}

.no-noti-icon svg {
    width: 100%;
    height: auto;
}

.no-noti-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.8;
    margin-top: 3rem;
    width: fit-content;
}

@media screen and (max-width: 1000px){
    .no-noti-container{
        margin-top: 20%;
        width: 70vw;
        height: 40vh;
    }

    .no-noti-icon{
        width: 150px;
    }

    .no-noti-text{
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    .no-noti-text p{
        margin: 1rem;
    }
}
