.window {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    width: 70%;
    min-height: 90%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-bottom: 2rem;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1, p {
    margin: 0;
}

.header {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: 2rem;
    text-align: left;
}

.form-container {
    width: 80%;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-wrapper {
    width: 100%;

    display: flex;
    flex-direction: row;
}

.profile-img {
    flex: 0 0 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    width: 20%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin-right: 1rem;
}

.profile-img img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.upload-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    margin-top: 1rem;
    padding: 0.3rem 1rem;

    border: 1px solid #000;
    border-radius: 20px;

    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.upload-button svg {
    height: 1rem;
    flex-shrink: 0;
}

.upload-button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.description {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.7rem;
    color: #555;
}

.profile-info {
    flex: 1;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.form-group label {
    font-size: 0.8rem;
    color: #555;
}

.disabled-input {
    background-color: #e0e0e0 !important;
    color: #666 !important;
    cursor: not-allowed;
    opacity: 0.7;
}

.form-group input,textarea {
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
}

.form-group textarea {
    resize: none;
}

.tag-selecting {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.tag-selecting h3 {
    margin: 0;
}

.continue {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.continue-button {
    width: 100%;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    fill: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-button:hover {
    background-color: #333;
}

.continue-button svg {
    margin-left: 0.5rem;
    align-self: center;
}

@media screen and (max-width: 1150px) {
    .content {
        width: 80%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .form-container {
        width: 100%;
    }

    .header {
        align-self: flex-start;
    }


}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .form-container {
        width: 100%;
    }

    .header {
        align-self: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 80%;
    }

    .header h1 {
        font-size: 1.5rem;
    }

    .header p {
        font-size: 0.8rem;
    }

    .profile-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .profile-img {
        width: 30%;
    }

    .description {
        display: none;
    }

    .profile-info {
        width: 90%;
        margin-left: 0;
    }

    .profile-info {
        margin-top: 2rem;
    }

}