.window {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

.profile-card {
    width: 90vw;
    height: fit-content;
    align-self: center;

    display: flex;
    flex-direction: column;
}

.profile-header {
    width: 90%;
    margin: 2.5% 5% 2.5% 5%;
    display: flex;
    /* height: 70%; */
    height: fit-content;
    flex-direction: row;
    column-gap: 5%;
}

.profile-image {
    flex: 0 0 25%;
    height: fit-content;

    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    height: 100%;
}
.profile-image img {
    max-height: 30%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.user-info {
    flex: 1;
    width: 100%;
    height: fit-content;


    display: flex;
    flex-direction: column;
    justify-self: center;
}

.display-name {
    display: flex;
    flex-direction: row;
    align-items: center;

    column-gap: 2rem;
}

.username {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    
    font-size: 0.8rem;
    color: #666;
}

.username svg {
    height: 1rem;
    flex-shrink: 0;
}

.meta-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20%;
    /* justify-content: space-between; */
}

h3, p {
    margin: 0;
    padding: 0;
}

.data {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.user-bio {
    margin-top: 2rem;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
}

.action-button{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    
    padding: 0.3rem 1rem; 

    border: 1px solid #000;
    border-radius: 20px;

    font-size: 0.8rem;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.action-button:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}

.action-button svg {
    height: 1rem;
    flex-shrink: 0;
}

hr {
    align-self: center;
    width: 60%;
    margin: 2.5% 5% 2.5% 5%;
    border: 0.5px solid #ddd;
}

@media screen and (max-width: 768px) {

    .profile-card .profile-header {
        flex-direction: column;
    }

    .profile-card .profile-header .profile-image {
        width: 70%;
        align-self: center;
    }

    .display-name {
        flex-direction: column-reverse;
        align-items: center;
    }

    .button-group {
        margin-top: 2rem;
        flex-direction: row-reverse;
    }

    .meta-data {
        align-items: center;
        justify-content: center;
    }
}