html{
    position: relative;
}

body{
    background-color:#F5C2E7;
    position: relative;
}

.form-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;     
    background-color: var(--white-color);
    border-radius: 15px; 
    margin: var(--margin-container);
    padding: 0% 10% 0% 10%;
    height: 100vh;

}

.form-container h2{
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 0 0;
}

.form-container .form-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 15px;
    border: 3px solid var(--text-gray-color);
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 20px 0;
    flex-wrap: wrap;
}

.form-container .form-content .form-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: auto;
}

.form-container .form-content .form-img{
    width: 50%;
    height:70%;
}

.form-group{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group input{
    width: 80%;
    height: 50%;
    border: 2px solid var(--text-gray-color);
    border-radius: 5px;
    padding: 5px;
    align-self: flex-start;
    background-color: var(--white-color);
    transition: 0.2s;
}

.form-group input:hover{
    background-color: #F0F0F0;
}

.form-group label{
    align-self: flex-start;
    font-size: 14px;
    margin-bottom: -3px;
    color: var(--text-gray-color);
}

#bio{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#bio textarea{
    width: 80%;
    height: 80%;
    border-radius: 5px;
    border: 2px solid var(--text-gray-color);
    padding: 5px;
    align-self: flex-start;
    background-color: var(--white-color);
    transition: 0.2s;

}

#bio textarea:hover{
    background-color: #F0F0F0;
}


.form-img{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-img label{
    font-size: 16px;
    margin-bottom: 1%;
    color: var(--text-gray-color);
}



#text-your-profile{
    color: var(--text-gray-color);
    font-size: 18px;
    margin-bottom: 2%;
    font-weight: bold;
}

.form-img img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px;

}

#text-upload-file {
    color: var(--white-color);
    font-size: 16px;
}

.upload-file-button {
    margin-top: 2%;
    background-color: var(--text-gray-color);
    display: inline-block;
    padding: 8px 12px;  
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    transition: 0.2s;
}

.upload-file-button:hover{
    background-color: #000000;
}

.form-img input[type="file"] {
    display: none;
}

.sign-up-button{
    color: var(--white-color);
    font-size: 24px;
    font-weight: bold;
    border: none;
    width: 20%;
    height: 5%;
    background-color: #A6E3A1;
    border-radius: 15px;
    transition: 0.2s;
    margin-bottom: 2%; 
}

.sign-up-button:hover{
    background-color: #7FDB7F;
}

.tags-container {
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: auto;
}


.tags-container .tags{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tag:hover {
    background-color: #e0e0e0;
}

