#toasts {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;

  width: 50%;
  max-width: 320px;
  z-index: 999;
}

.toast {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.toast-title {
  font-size: 1.25rem;
  font-weight: 600;
  display: inline-block;

  width: 100%;
}

.toast-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.toast-style-neutral .toast-description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;

  width: 100%;
}

.toast-style-neutral {
  background-color: var(--color-muted);
  color: white;
}

.toast-style-destructive {
  background-color: var(--color-destructive);
  color: white;
}

.toast-style-notification {
  background-color: var(--color-muted);
  color: white;

  width: 100%;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

.toast-style-notification img {
  height: auto;
  width: 3rem;
  border-radius: 50%;
}