.card {
  width: 100%;
  border: 2px solid var(--color-muted);
  padding: 1rem;
  border-radius: 1rem;
}

.event-detail {
  border: 2px solid var(--color-muted);
  border-radius: 1rem;
  padding: 1rem;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.items-center {
  display: flex;
  align-items: center;
}

.space-y-4 > * {
  margin-bottom: 8px;
}

.space-y-4 > *:last-child {
  margin-bottom: 0;
}

.space-x-4 > * {
  margin-right: 8px;
}

.space-x-4 > *:last-child {
  margin-right: 0;
}

.tag {
  display: inline-block;
  padding: 4px 8px 4px 8px;
  background-color: var(--pink-color);
  border: 2px solid var(--pink-color);
  border-radius: 30px;
  cursor: default;
  width: fit-content;
}

.event-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.expired {
  color: var(--color-destructive);
}

.active {
  color: var(--color-constructive);
}

.text-level-1 {
  font-size: 1.5rem;
  font-weight: bold;
}