@model Citlali.Models.EventFormDto;

<div class="event-form detail-column">
    <form class="form-form" asp-action="Join" style="width: 100%;" method="post" enctype="multipart/form-data">
        <h1>Just a few quick questions 💬</h1>
        <p>Help the event creator get to know you better!</p>
        <div class="form-data">
            <input type="hidden" name="EventId" value="@Model.EventId" />
            @for (var i = 0; i < Model.Questions.Count; i++)
            {
                <div class="form-group">
                    <label for="Questions_@(i)__Answer">@Model.Questions[i].Question</label>
                    <input type="hidden" name="EventFormDto.Questions[@i].EventQuestionId" value="@Model.Questions[i].EventQuestionId" />
                    <input name="EventFormDto.Questions[@i].Answer" class="form-control" id="Questions_@(i)__Answer" />
                    <span asp-validation-for="Questions[@i].Answer" class="text-danger"></span>
                </div>
            }
        </div>
        <div class="justify-flex-end">
            <button class="form-submit" type="submit">
                Request to join
                @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.BranchRequest>>(RenderMode.ServerPrerendered, new { Color = Color.Lightweight}))
            </button>
        </div>
    </form>
</div>