.card {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fefefe;
}

.card:hover {
  background-color: #f9f9f9;
}

.footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-data {
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.creator {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.creator img {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.creator span {
  font-size: 0.8rem;
  font-weight: 500;
}

.created-time {
  color: #666;
  font-weight: 300;
}

.location {
  display: flex;
  color: #666;
  font-weight: 300;
  align-items: center;
  gap: 0.25rem;
}

.participant {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.card-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.tag {
  display: flex;
  height: fit-content;
  font-size: 0.8rem;
  padding: 3px 6px;
  border: 1px solid #666;
  border-radius: 30px;
  cursor: default;
  width: fit-content;
  align-items: center;
  gap: 0.25rem;
}

.event-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.expired {
  color: var(--color-destructive);
}

.active {
  color: var(--color-constructive);
}

.description {
  max-width: 50%;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7rem;
  color: #666;
}

a {
  display: block;
}

@media screen and (max-width: 768px) {
  .card {
    padding: 0.5rem;
  }

  .header-data {
    margin-bottom: 0.5rem;
  }

  .creator img {
    height: 1.5rem;
  }

  .creator span {
    font-size: 0.7rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .created-time {
    font-size: 0.6rem;
  }

  .location {
    font-size: 0.6rem;
  }

  .participant img {
    height: 1.5rem;
  }

  .participant span {
    font-size: 0.7rem;
  }

  .card-title {
    gap: 0.5rem;
  }

  .tag {
    font-size: 0.6rem;
    padding: 2px 4px;
  }

  .event-title {
    font-size: 1.2rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .description {
    max-width: 80%;
    font-size: 0.6rem;
  }
  
}