.center-wrapper {
  width: 100%;
  min-height: calc(100dvh - var(--navbar-size));
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--navbar-size);
  padding-bottom: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: #f0f0f0; */
}

.detail-main-container {
  margin-top: 2rem;
  width: 80%;
  /* max-width: 768px; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.detail {
  flex: 0 0 60%
}

.request-form {
  flex: 0 0 40%
}

@media screen and (max-width: 1150px) {
  .detail-main-container {
    width: 90%;
    flex-direction: column;
  }

  .request-form,
  .detail {
    flex: 1 1 100%;
  }
}