.center-wrapper {
  width: 100%;
  min-height: calc(100dvh - var(--navbar-size));
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-main-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
  max-width: var(--max-screen-width);
  width: 100%;
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .detail-main-container {
    grid-template-columns: 1fr;
  }
}

.detail-column {
  width: 100%;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.space-y-4 > * {
  margin-bottom: 8px;
}
