.center-wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-main-container {
  display: grid;
  grid-template-columns: 3fr 16px 2fr;
  width: var(--max-screen-width);
}

.detail-column {
  width: 100%;
}

.event-detail {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.space-y-4 > * {
  margin-bottom: 8px;
}

.form-form {
  width: 100%;
}

.event-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags-container > .tags > .tag{
  display: inline-block;
  margin: 3px;
  padding: 4px 8px 4px 8px ;
  background-color: var(--pink-color);
  border: 2px solid var(--pink-color);
  border-radius: 30px;
  cursor: default;
  width: fit-content;
}