@model Citlali.Models.EventExploreViewModel;

@section head {
    <link rel="stylesheet" href="~/css/Form.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Explore";
}

<div class="center-wrapper">
    ...
</div>