@model Citlali.Models.EventExploreViewModel;

@section head {
    <link rel="stylesheet" href="~/css/Form.css" asp-append-version="true" />
}

<div class="center-wrapper">
    <div class="container">
        @for (var i = 0; i < Model.EventBriefCardDatas.Length; i++)
        {
            <div>
                <partial name="_EventBriefCard" model=@Model.EventBriefCardDatas[i] />
            </div>
        }
    </div>
</div>