.center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - var(--navbar-size));
    margin-top: var(--navbar-size);
    width: 100%;
    /* background-color: #f0f0f0; */
}

.content {
    margin-top: 2rem;
    width: 90%;
    max-width: 1200px;
}

.control {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    gap: 1rem;
}

.action-button{
    background-color: #fefefe;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    
    padding: 0.3rem 1rem; 

    border: 1px solid #000;
    border-radius: 20px;

    font-size: 0.8rem;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.action-button.danger {
    color: #ff0000;
    border-color: #ff0000;
}

.action-button.danger span {
    fill: #ff0000 !important;
}

.action-button.danger:hover {
    span {
        fill: white !important;
    }
    
    background-color: #ff0000;
    color: white;
}

.action-button:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}

.header {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.questions {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.questions h3 {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.questions description {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: #666;
}

ul {
    all: unset !important;
    list-style-type: square !important;
}

.question-container {
    background-color: #fefefe;
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.registrants-container {
    width: 100%;
    margin-top: 1rem;
}

.registrants {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.registrants * h3 {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.registrants * description {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: #666;
}

.registrants {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.registered-participants {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
}

.selected-participants {
    background-color: #fefefe;
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid #ccc;
    flex: 0 0 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.selected-participants * h4 {
    font-size: 1.1rem;
    font-weight: bold;
}

.selected-participants * hr {
    margin: 0.5rem 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.confirmed-participants,
.await-confirmation,
.rejected-invitation {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.registrant-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
}

.registrant-header {
    background-color: #fefefe;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registrant-header:hover {
    background-color: #eee;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.registrant-name {
    flex-grow: 1;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.dropdown-icon {
    font-size: 18px;
    color: #555;
}

.registrant-details {
    display: none;
    padding: 10px;
    background-color: white;
}

.answer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group label {
    font-size: 0.8rem;
    color: #555;
}

.form-group textarea {
    field-sizing: content;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 5px;

    text-wrap: wrap;
    resize: none;

    font-size: 1rem;
}

.status-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.status-circle.status-pending {
    background-color: #666;
}

.status-circle.status-await-confirmation {
    background-color: #ffcc00;
}

.status-circle.status-confirmed {
    background-color: #00cc00;
}

.status-circle.status-rejected-invitation,
.status-circle.status-rejected {
    background-color: #ff0000;
}

.button-group {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 1rem;
}

.action-button.approve-btn {
    span {
        fill: #00cc00 !important;
    }
    border: 1px solid #00cc00;
    color: #00cc00;
}

.action-button.approve-btn:hover {
    span {
        fill: white !important;
    }
    background-color: #00cc00;
    color: white;
}

.action-button.reject-btn {
    span {
        fill: #ff0000 !important;
    }
    border: 1px solid #ff0000;
    color: #ff0000;
}

.action-button.reject-btn:hover {
    span {
        fill: white !important;
    }
    background-color: #ff0000;
    color: white;
}

.registrant-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.registrant-list .registrant-name {
    font-size: 0.8rem;
    color: #666;
    font-weight: normal;
}

.registrant {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.registrant img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.event-status {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.status-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.status-circle.active {
    background-color: #00cc00;
}

.status-circle.closed {
    background-color: #333;
}

.visit-profile-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}

.confirm-text-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.broadcast-popup {
    display: none;
}

/* Broadcast Popup */
.broadcast-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    width: 90%;
    max-width: 768px;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    max-height: 90vh;
    overflow-y: auto;
}

.popup-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popup-navigation h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.popup-action-button {
    all: unset;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    
    padding: 0.3rem 1rem; 

    font-size: 0.8rem;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.popup-action-button:hover {
    cursor: pointer;
}

.popup-action-button svg {
    height: 2rem;
    flex-shrink: 0;
}

.popup-action-button svg:hover {
    cursor: pointer;
}

.popup-body {
    display: flex;
    flex-direction: column;

    padding: 0 2rem 2rem 2rem; 
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.form-group label {
    font-size: 0.8rem;
    color: #555;
}

.popup-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.disabled-input {
    background-color: #e0e0e0 !important;
    color: #666 !important;
    cursor: not-allowed; 
    opacity: 0.7;
}

.form-group input,textarea {
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 5px;

    font-size: 1rem;
}

.form-group textarea {
    resize: none;
}

.popup-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-title description {
    text-align: center;
    font-size: 0.8rem;
    color: #666;
}

.broadcast-button {
    width: 100%;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    fill: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.broadcast-button:hover {
    background-color: #333;
}

.popup-confirmed-participants-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.popup-confirmed-participants h3 {
    margin-top: 1rem;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
}

.popup-confirmed-participants description {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: #666;
}



.popup-each-confirmed-participant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 80px;
    width: 80px;

    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.popup-each-confirmed-participant img {
    margin: 0 !important;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.popup-each-confirmed-participant span {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: #666;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .registrants {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .registrants * h3 {
        font-size: 1.1rem;
    }

    .registrants * description {
        font-size: 0.8rem;
    }

    .popup-content {
        width: 100%;
        height: 100%;
        max-height: 100vh;
        margin: 0;
        padding: 0;
        z-index: 9999;
        border-radius: 0;
    }
    
    .popup-navigation {
        position: sticky;
        top: 0;
        background-color: white; 
        z-index: 10; 
        padding: 1rem; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    

    .popup-navigation h1 {
        font-size: 1.5rem;
    }
    
    .popup-body {
        margin: 0;
        padding: 0;
        flex-direction: column;
        width: 100%;
        height: 100%;
        row-gap: 2rem;
    }

    .popup-confirmed-participants,
    .popup-info {
        width: 90% !important;
        align-self: center;
    }

    .event-status {
        width: 100%;
    }
}